p {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #F79824;
}

.card-body {
  box-shadow: 4px 4px 15px 4px #00000040;
  border-radius: 30px;
  padding: 50px;
}

.logo {
  padding: 8vh;
}

.card-title {
  margin-bottom: 60px;
}

