<p-tabView>
  <p-tabPanel header="Общие">
    <div class="flex flex-row">
      <p-card>
        <ng-template pTemplate="header">
          <div class="mx-4 pt-4 flex flex-row justify-between">
            <h2>Подписка на рассылки</h2>
          </div>
        </ng-template>
        <div class="flex flex-col">
          <div style="margin: 5px">
            <p-checkbox [(ngModel)]="subscribeSettings.serviceNews" [binary]="true"
                        inputId="serviceNews"></p-checkbox>
            <label style="margin-left: 10px;" for="serviceNews">Оповещать о новых возможностях сервиса</label>
          </div>

          <div style="margin: 5px">
            <p-checkbox [(ngModel)]="subscribeSettings.projectNotification" [binary]="true"
                        inputId="projectNotification"></p-checkbox>
            <label style="margin-left: 10px;" for="projectNotification">Оповещать о изменениях в проекте</label>
          </div>

          <div style="margin: 5px">
            <p-checkbox [(ngModel)]="subscribeSettings.deadlineNotifications" [binary]="true"
                        inputId="deadlineNotifications"></p-checkbox>
            <label style="margin-left: 10px;" for="deadlineNotifications">Присылать напоминания о дедлайнах</label>
          </div>
        </div>
      </p-card>


      <p-card>
        <ng-template pTemplate="header">
          <div class="mx-4 pt-4 flex flex-row justify-between">
            <h2>Настройки интеграций</h2>
          </div>
        </ng-template>
        <div class="flex flex-col">
          <div style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="50px" height="50px">
              <path fill="#FFC107"
                    d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"/>
              <path fill="#FF3D00"
                    d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"/>
              <path fill="#4CAF50"
                    d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"/>
              <path fill="#1976D2"
                    d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"/>
            </svg>
            <s-button style="width: 100%; margin-left: 30px;" (click)="googleOauth2()" label="Подключить Google Drive"></s-button>
          </div>
          <br>
            <div style="display: flex; align-items: center; width: 100%">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="50px" height="50px">
                <path fill="#1E88E5"
                      d="M6,10c0-2.2,1.8-4,4-4h28c2.2,0,4,1.8,4,4v28c0,2.2-1.8,4-4,4H10c-2.2,0-4-1.8-4-4V10z"/>
                <path fill="#FFF"
                      d="M10,12.2c0-1.2,1-2.2,2.2-2.2h7.6c1.2,0,2.2,1,2.2,2.2v21.6c0,1.2-1,2.2-2.2,2.2h-7.6C11,36,10,35,10,33.8V12.2z M26,22.8c0,1.2,1,2.2,2.2,2.2h7.6c1.2,0,2.2-1,2.2-2.2V12.2c0-1.2-1-2.2-2.2-2.2h-7.6C27,10,26,11,26,12.2V22.8z"/>
              </svg>
              <s-button style="width: 100%; margin-left: 30px;" (click)="linkTrello()" label="Подключить Trello"></s-button>
            </div>
        </div>
      </p-card>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Дополнительные">
    Content 3
  </p-tabPanel>
</p-tabView>
