.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #F79824;
}

.right-side {
  background: #2176FF;
  color: white;

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
  }
}

:host ::ng-deep {
  .p-card-body {
    padding: 0;
  }
  .p-card-content {
    padding: 0;
  }
}
